/* rafting.css */

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Sedan+SC&display=swap');

:root {
    --primary-color: #02183a;
    --secondary-color: #001d3d;
    --text-color: #000000;
}

h1, h2 {
    color: var(--#02183a); 
    font-family: 'Reddit Sans', sans-serif; 
    font-weight: bold; 
}

p {
    color: #02183a; 
    font-family: 'Reddit Sans', sans-serif; 
}

.social-media a {
    text-decoration: none; 
}

/* rafting.css */

/* Position the hero container relatively */
.hero {
    position: relative;
}

/* Style the hero image */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Position the h1 heading absolutely */
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Example color */
    font-family: 'Reddit Sans', sans-serif; /* Updated font family */
    font-size: 3em;
    text-align: center;
}

/* Position the article absolutely */
.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

/* Style the img inside the article */
.hero article img {
    float: right; /* Float the image to the right */
    margin-left: 20px; /* Add margin for spacing */
}
